/*join*/

.join {

    padding: 50px 0 80px;
    text-align: center;
    height: 350px;
    background-color: $yellow;
}

.join p {

    padding-bottom: 80px;
    color: #737373;
}

.join h2 {

    color: #4c4c4c;
    margin: 20px 0 20px;
}
